/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    margin-left: 1em;
    list-style-type: none;
    display: inline-block;
    margin: 0px 1px;
}


table{
    border-spacing: 0;
}

/* page structure */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 700px;
    padding: 15px 20% 50px;
}



#banner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#banner-text{
    margin-top: 10%;
    min-height: 350px;
    text-align: center;
    color: white;
    padding: 0px 160px;
}

#footer-top{
    display: flex;
    background-color: rgb(35,39,42) ;
    min-height: 400px;
    padding: 3% 25% 1px;
    justify-content: space-between;
}

#footer-bot{
    background-color: rgb(35,39,42) ;
    min-height: 50px;
    padding: 0px 25% 3%;
}

#p1{
    display: flex;
    background-color: white;
    min-height: 600px;
    align-items: center;
    padding: 5% 20% 9%;
}

#p2{
    display: flex;
    background-color: rgb(246,246,246);
    min-height: 600px;
    align-items: center;
    padding: 5% 20%;
}

#p3{
    display: flex;
    flex-direction: column;
    background-color: rgb(246,246,246);
    min-height: 700px;
    align-items: center;
    padding: 5% 20%;
}


#logo-box{
    flex-basis: 5%;
    padding: 10px 15px 0px
}

#nav-box{
    flex-basis: 55%;
    padding: 15px 40px;
}

#log-in-box{
    background-color: white;
    flex-basis: 5%;
    padding: 12px;
    border-radius: 20px;
    font-size: 80%;
}

.fc1{
    
    flex-basis: 25%;
}

.fc2{
    
    flex-basis: 15%;
}

.fb{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 130px;
    margin-top: 10px;
}

.img-box1{
    height: 400px;
    flex-basis: 60%;
    padding-left: 5%;
}

.text-box1{
    height: 400px;
    flex-basis: 40%;
    padding: 35px;
}

.img-box2{
    height: 400px;
    flex-basis: 60%;
    padding-left: 8%;
}

.text-box2{
    height: 400px;
    flex-basis: 40%;
    padding: 35px;
}

.p3-title{
    width: 100%;
    text-align: center;
}

.p3-img{
    width: 100%;
    min-height: 600px;
    text-align: center;
    
}

.p3-button{
    width: 100%;
    text-align: center;
}

/* style */

h1{
    font-size: 65px;
    margin-bottom: 60px;
}

h2{
    font-size: 55px;
    margin-bottom: 40px;  
}

h3{
    font-size: 45px;
    margin-bottom: 20px;
}

h4{
    font-size: 35px;
    margin-bottom: 60px;
}

li a{
    color: white;
    margin: 0px 20px;
}

.black{
    color: black;
}

.black-button{
    background-color: black;
    padding: 17px;
    border-radius: 25px;
    margin: 20px;
    font-size: 120%;
    cursor: pointer;
}

.white{
    color: white;
}

.white-button{
    background-color: white;
    padding: 17px;
    border-radius: 25px;
    margin: 20px;
    font-size: 120%;
    cursor: pointer;
}

.purple-button{
    background-color: rgb(142,161,225);
    padding: 17px;
    border-radius: 30px;
    margin: 20px;
    font-size: 120%;
    color: white;
    cursor: pointer;
}

a{
    text-decoration: none;
}

#banner-text p{
    font-size: 20px;
    margin-bottom: 55px;
}

.text-box1,.text-box2,.p3-title p{
    font-size: 20px;
}

.wave{
    background-image: url(../img/wave.svg);
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(100%) sepia(0%) saturate(1187%) hue-rotate(196deg) brightness(116%) contrast(93%);
}

.rotate-180 {
    transform: rotate(180deg);
}

.credit-t{
    font-size: 250%;
    color: rgb(116,139,223);
    margin-bottom: 20px ;
}

select{
    background:transparent;
    border:0;
    margin-bottom: 10px;
    color: white;
}


.block{
    display: block;
}

.social{
    filter: invert(100%) sepia(25%) saturate(2%) hue-rotate(201deg) brightness(103%) contrast(101%);
    font-size: 150%;
    margin-right: 10px;
}

.f-title{
    color: rgb(116,139,223);
    margin-top: 7px;
}

.f-option{
    color: white;
    margin-top: 7px;
    cursor: pointer;
    
}

hr{
    border: 1px solid;
    color: rgb(116,139,223);
}

body{
    font-family: 'Rubik', sans-serif;
}

.f-option:hover{
    text-decoration:underline;
}

li a:hover{
    text-decoration:underline;
}

.stars{
    padding-top: 35px;
    width: 47%;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    margin-left: 26.5%;
    margin-right: 26.5%;
}    

.purple-button-reg{
    background-color: rgb(142,161,225);
    padding: 10px;
    padding-left: 15px;
    border-radius: 30px;
    font-size: 120%;
    color: white;
    cursor: pointer;
    width: 10%;
    height: 40px;
}      